html, body{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,p {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
h3 {
  font-weight: 300;
}
label {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.filler {
  height: 71px;
}
#navbar-collapse {
  border: none !important;
}
#homeBody {
  background-image: url('../assets/home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  height: 750px;
  margin-bottom: 0px;
}
#upcomingBody {
  background-image: url('../assets/upcoming.png');
  background-size: auto 500px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  height: 400px;
  margin-bottom: 0px;
}
#aboutBody {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 400px;
  margin-bottom: 0px;
}
#contactBody {
  background-image: url('../assets/contact.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 400px;
  margin-bottom: 0px;
}
/* Home Stuff */
#homeBody p {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}
#titleDesc {
  font-size: 30px !important;
  font-weight: 400 !important;
}
.smallDesc15 {
  font-size: 15px !important;
}
#splashPhoto {
  height: 350px;
  margin-top: 50px;
}
#signUpBtn {
  background: #24cdb5;
  margin-top: 30px;
  padding: 20px 50px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.homeText {
  margin-top: 10%;
  margin-left: 5%;
}
nav {
  background-color: #fff !important;
  padding-right: 5%;
  padding-left: 5%;
  border-bottom: solid #fff 1px !important;
}
.navbar-brand img {
  max-width: 200px !important
}
.navbutton{
  padding: 25px !important;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
}
.noA {
  text-decoration: none;
  color: #696969;
}
.noA:hover {
  text-decoration: none;
}

/* Upcoming */
#iBeacon {
  padding-top: 25%;
  padding-right: 20px;
  color: #fff;
}
#watches {
  padding-left: 50px;
  padding-top: 50px;
}
#mobileWatches {
  display: none;
}

/* About */
.circle{
  width:500px;
  height:500px;
  border-radius:500px;
  background-image: url('../assets/about.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 1000px;
}
#aboutPeople {
  padding-right: 80px;
}
.peopleDesc {
  padding-left: 20px;
}
.peopleLink {
  padding-left: 10px;
}

#contactInfo {
  padding-top: 10%;
  padding-left: 30%;
}



/* Launch Rock styles*/
.signup-email {
  height: 44px !important;
  margin-left: 5px !important;
}
input.LR-sign-up-submit{
  background-color: #24cdb5 !important;
  background-image: none !important;
  text-shadow: none !important;
  font-size: 15px !important;
  width: 150px !important;
}
.LR-sign-up-container {
  margin: 0 !important;
}
.LR-box-inner {
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.LR-site-share-container {
  background: none !important;
  padding: 0 !important;
  margin-left: 30px !important;
  text-shadow: none !important;
}
#thanks {
  text-shadow: none !important;
  font-size: 20px !important;
}
